.contact {
    background-color: $purple;
    color:white;
    &::before {
        content:"";
        position:absolute;
        top:auto;
        left:0;
        height: 80%;
        width:100%;
        transform: skewY(-7deg);
        background: $purple;
        transform-origin: bottom left;
        z-index: -1;
    }
}

.contactFlex {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: $purple;
    .sectionHeading {
        margin-top:100px;
        .smallHeading::before {
            border-left: 2px solid white;
        }
    }
    p {
        font-size: 3rem;
        text-transform: lowercase;
        font-weight: 500;
        margin:50px 0;
    }
}

.contact ul {
    display: flex;
    font-size: 5rem;
    justify-content: center;
    
    a {
        color: $pink;
        margin: 0 50px;
        transition: all 0.3s ease-in;
        &:hover {
            color: $green;
        }
    }
}

form {
    margin-top: 100px;
    display: flex;
    flex-direction:column;
    align-items: center;
    input, textarea {
        background:transparent;
        color:white;
        border: none;
        border-bottom: 2px solid white;
        transition: all 0.3s ease-in;
        width: 550px;
        margin: 20px 0;
        padding: 10px 5px;
        &::placeholder {
            font-family: $sanSerif;
            color:white;
            opacity:1;
            font-weight: 400;
        }
        &:focus {
        outline: 1px solid $pink;	
        background: lighten($purple, 10);
        }
    }
    label {
        align-self: flex-start;
        margin-top: 25px;
    }
    textarea {
        border-top: 2px solid white;
        height: 200px;
        resize: none;
    }
}

button {
    color: $pink;
    font-weight:700;
    border: 2px solid $pink;
    background-color: transparent;
    text-transform:uppercase;
    padding: 10px 70px;
    margin-top: 30px;
    transition: all 0.3s ease-in;
    cursor:pointer;
    &:hover, &:focus {
        color: $green;
        border: 2px solid $green;
    }
    &:active {
        background-color: $green;
        color: $purple;
    }
}

.blueTriangle {
    position: absolute;
    width: 40%;
    top: -75%;
    left: -70%;
}

.pinkCircleContact {
    position: absolute;
    top: -75%;
    left: -54%;
}

.bigGreenCircleContact {
    position: absolute;
    width: 30%;
    top: -54%;
    right: -61%;
}

.blueSquigglesContact {
    position: absolute;
    width: 20%;
    transform: rotate(-60deg);
    right: -60%;
    top: 39%;
}

.greenArrowContact {
    position: absolute;
    width: 15%;
    top: 50%;
    right: 150%;
    transform: rotatey(180deg);
}

.pinkSquiggleContact {
    position: absolute;
    top: -18%;
    left: -73%;
}

.tinyPinkTriangleContact {
    position: absolute;
    top: 70%;
    right: -40%;
}