header {
    background-color: $purple;
    min-height: 100vh;
    span {
        display:block;
    }
}

.headerFlex {
    display:flex;
    justify-content: center;
    align-items: center;
    height:70vh;
}

.logo {
    width:100px;
    position: absolute;
    top: 15px;
    left:15px;
}

.headerText {
    position:relative;
}

.backgroundShapes {
    position:absolute;
}

.blueSquiggles {
    top: -99%;
    right: 30%;
}

.pinkSquiggle {
    top: 38%;
    left: -31%;
}

.greenArrow {
    top: 90%;
    right: -26%;
}

.tinyBlueTriangle {
    top: 190%;
}

.greenCircle {
    top: -90%;
    left: -32%;
}

.tinyPinkCircle {
    top: 290%;
    right: 30%;
}