header {
    background-color: $purple;
    min-height: 70vh;
    margin-bottom:300px;
    
    span {
        display:block;
    }
}

.headerFlex {
    display:flex;
    justify-content: center;
    align-items: center;
    height:70vh;
}

header::after{
    content:"";
    position:absolute;
    top:0;
    left:0;
    height: 100%;
    width:100%;
    transform: skewY(-7deg);
    background: $purple;
    transform-origin: bottom left;
    z-index: -1;
}

.logo {
    width:100px;
    position: absolute;
    top: 15px;
    left:15px;
}

.headerText {
    position:relative;
}

.backgroundShapes {
    position:absolute;
}

.blueSquiggles {
    top:-150%;
    right: 30%;
}

.pinkSquiggle {
    top: 115%;
    left: -50%;
}

.greenArrow {
    top: 90%;
    right: -35%;
}

.tinyBlueTriangle {
    top: 190%;
}

.greenCircle {
    top: -90%;
    left: -45%;
}

.tinyPinkCircle {
    top: 290%;
    right: 30%;
}