html {
    scroll-behavior: smooth;
}

main {
    &::before {
        content:"";
        position:absolute;
        top:auto;
        left:0;
        height: 100%;
        width:100%;
        transform: skewY(-7deg);
        background: white;
        transform-origin: bottom left;
        z-index: -1;
    }

}


.aboutMe {
    background-color: white;
}


.sectionHeading {
    display:flex;
    flex-direction: column;
    align-items:center;
    margin-top:300px;
}

.aboutFlex {
    display: flex;
    flex-direction: column;
    align-items:center;
}

.profileContainer {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom:-200px;
    position: relative;
    .profilePhoto {
        max-width: 400px;
        margin-right: 50px;
        position: relative;
        z-index: 100;
        .clarkePhoto {
            box-shadow: 26px 32px 2px 0px rgba(211,211,211,1);
            position:relative;
            z-index: 100;
        }
    }
        .profileText {
            width:50%;
            p {
                margin-bottom:10px;
            }
        }
    }


.greyDotCircle {
    position: absolute;
    z-index: 95;
    top: 20%;
    width: 600px;
    left: -50%;
}

.triangleContainer {
    top: -110%;
    left: -3%;
}

.pinkTriangle {
    position:relative
}
.thickPurpleCircle {
    top: 48%;
    left: 12%;
    width: 200px
}

.blueSquiggles2 {
    top: -100%;
    right: 10%;
}

.thinPurpleCircle {
    top: -20%;
    right: 0;
}

.skills {
        &::before {
        content:"";
        position:absolute;
        top:auto;
        left:0;
        height: 130%;
        width:100%;
        transform: skewY(7deg);
        background: $offWhite;
        transform-origin: bottom right;
        z-index: -1;
    }
}

.skillFlex {
    .sectionHeading{
        padding-top:350px;
    }
}

.skillList {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 70%;
    padding: 0;
    margin: 0 auto;
    position: relative;
    margin-top: 100px;
}

.skillItem {
    position: relative;
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px 40px 0 40px;
    text-align: center;
    box-shadow: -2px 9px 25px #d3d3d3;
    transition: all 0.3s ease-in;
    padding: 5px 15px;
    &:hover {
        box-shadow: 2px 2px 15px lightgrey;
    }
    &:hover .skillText {
        opacity: 1
    }
    .skillText {
        opacity: 0;
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: #f7f7f7;
        justify-content: center;
        align-items: center;
        padding: 5px;
        transition: all 0.5s ease-in;
    }
}

.backgroundImages {
    position:relative;
}

.triangle2Container {
    top: -100%;
    right: 0;
    width: 20%;
}

.thinPurpleTriangle {
    transform: rotate(20deg);
}

.pinkCircle {
    top: 0;
    right: 5%;
}

.blueCircle {
    right: 85%;
    top: 97%;
}

.pinkSquiggle2 {
    right: 0;
    top: 130%;
}

.projectFlex {
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 300px;
    .sectionHeading {
        padding-top: 450px;
        margin-bottom: 200px;
    }
}

.project {
    display: flex;
    margin: 50px;
    margin-bottom: 200px;
    ul {
        display:flex;
        li {
            padding: 10px;
        }
    }
}

.projectText {
    display:flex;
    flex-direction: column;
    width: 70%;
    padding: 20px;
    p {
        margin-bottom: 10px;
    }
    a {
        color: $pink;
        transition: all 0.3s ease-in;
        &:hover, &:focus {
            color: $purple;
        }
    }
}

.projectLinks {
        a {
            text-decoration: none;
            background: #443a8b;
            border: 1px solid #443a8b;
            padding: 10px 30px;
            color: white;
            font-size: 1.6rem;
            margin-bottom: 10px;
            display: inline-block;
            transition: all 0.3s ease-in;
            text-transform: uppercase;
            letter-spacing: 1.2px;
            font-weight: 700;
            &:hover {
                background-color: $pink;
                border: 1px solid $pink;
                color:white;
            }
        }
        .gitRepo {
            background: white;
            border: 1px solid $pink;
            color: $pink;
            &:hover {
                background-color: $pink;
                color: white;
            }
        }
    }

.projectTwo, .projectFour {
    .projectText {
        align-items: flex-end;
        text-align: right;
        margin-right: 20px;
    }
}

.triangle3Container {
    top: -14.5%;
    right: 82%;
}

.purpleTriangleProject {
    transform: rotate(-20deg);
}

.pinkCircleProject {
    top:-5%;
    left: 9%;
}

.greyDotsSquare1 {
    right: -30%;
    z-index: -1;
    top: 5%;
}

.bigPinkCircle  {
    width: 20%;
    left: -17%;
    top: 35%;
    z-index: -1;
}

.blueSquigglesProject {
    top: 30%;
    left: -4%;
    z-index: -1;
}

.greenArrowProject {
    width: 10%;
    right: -5%;
    top: 50%;
}

.greyDotsSquare2 {
    top: 70%;
    left: -20%;
    z-index: -1;
}



