// **** Media Queries***********

@media (max-width:1250px){

    .pinkSquiggle {
        left: -23%;
    }

    .greenCircle {
        left: -11%
    }

    .greenArrow {
        top: 141%;
        right: -14%;
    }

    .triangleContainer {
        top: -72%;
        left: -4%;
    }

    .pinkTriangle {
        width: 70%;
    }

    .thickPurpleCircle {
        top: 53%;
        left: 14%;
        width: 30%;
    }

    .blueSquiggles2 {
        top: -87%;
    }

    .profilePhoto {
        width: 35%;
    }

    .greyDotCircle {
        width: auto;
        left: -50%;
    }

    .triangle2Container {
        top: -80%;
    }
    
    .pinkCircleProject {
        top: -15.9%;
    }

    .triangle4Container {
        left: -46%;
    }

    .pinkSquiggleContact {
        left: -36%;
    }

    .bigGreenCircleContact {
        right: -30%;
    }

    .blueSquigglesContact {
        right: -26%;
    }

    .greenArrowContact {
        right: 116%;
    }

    .tinyPinkTriangleContact {
        top: 88%;
        right: -25%;
    }
}

@media (max-width:975px) {
    h1 {
        font-size: 7rem
    }

    .blueSquiggles {
        top: -130%;
    }

    .pinkSquiggle {
        display:none;
    }

    .profileContainer {
        flex-direction:column;
        align-items: center;
        .profilePhoto {
            width:100%;
            margin-right:0;
        }
        .profileText {
            position: relative;
            width: 90%;
            z-index: 100;
            margin-top: 100px;
        }
    }

    .greyDotCircle {
        top: 22%;
        left: -34%
    }

    .triangleContainer {
        top: -47%;
    }

    .blueSquiggles2 {
        top:-21%;
        right: -2%;
    }

    .thinPurpleCircle { 
        display:none;
    }

    .largeHeading {
        text-align: center;
        span {
            display:block;
        }
    }

    .triangle2Container {
        top: -75%;
        width: 30%;
    }

    .skillList {
        max-width: 100%;
    }

    .blueCircle {
        right: 93%;
        top: 52%;
        width: 25%;
}

    .triangle3Container {
        width: 30%;
        right: 72%;
    }

    .pinkCircleProject {
        top:0
    }

    .project {
        flex-direction: column;
        .projectText {
            width: 100%;
        }
    }

    .projectTwo, .projectFour {
        flex-direction: column-reverse;
    }

    .greyDotsSquare1, .greyDotsSquare2 {
        width: 60%;
    }

    .triangle4Container {
        left: -12%;
    }

    .bigGreenCircleContact {
        top: -64%;
        right: -21%;
    }

    .tinyPinkTriangleContact {
    top: 101%;
    right: -7%;
}

    .greenArrowContact {
        top: 91%;
        right: 94%;
    }

    .blueSquigglesContact {
        top: 12%;
        right: -8%;
    }
}

@media (max-width:650px) {
    header {
        h1 {
            font-size: 6rem;
        }
        h2 {
            font-size:2rem;
        }
    }

    .logo {
        width: 70px;
    }

    .pinkSquiggle {
        display:block;
        left: 46%;
        top: 295%;
    }

    .greenCircle {
        left: 4%;
    }

    .greenArrow {
        right: 19%;
    }
    
    .tinyBlueTriangle {
        left: 6%;
    }

    .tinyPinkCircle {
        display: none;
}

    .hamburgerMenu {
        width: 300px;
    }

    .triangleContainer {
        top: -46%;
        width: 70%;
    }

    .profileContainer .profilePhoto .clarkePhoto {
    -webkit-box-shadow: none;
    box-shadow: none;
}

    .profileText {
        p:first-of-type {
            font-size: 1.8rem;
        }
        p {
            font-size: 1.6rem;
        }
    }

    .greyDotCircle {
        top: 13%;
        left: -32%;
    }

    .triangle2Container {
    top: -67%;
    width: 47%;
}

    .blueCircle {
        width: 42%;
    }

    .pinkSquiggle2 {
        top: 110%;
    }

    .projectFlex .sectionHeading {
    padding-top: 200px;
    }

    .triangle3Container {
        width: 37%;
        right: 57%;
    }

    .triangle4Container {
        left: 6%;
        width: 34%;
    }

    form {
        input, textarea {
            width: 320px;
        }
        label {
            align-self: initial;
            margin-right: 129px;
        }
    }

    .emailAddress {
        p {
            font-size: 2rem;
        }
    }

    .greenArrowContact{
        right: 87%;
    }

    .pinkSquiggleContact {
        left: -15%;
    }


}

@media (max-width:460px) {
    header {
        min-height: 50vh;
        .headerFlex {
            height: 50vh;
        }
        .heading {
            margin-top: 74%;
        }
        h2 {
            font-size: 1.8rem;
        }
    }

    .hamburgerMenu {
        height:auto;
        a {
            font-size: 3rem;
        }
    }

    .logo {
        display:none;
    }

    h1{
        font-size: 5rem;
        span {
            font-size: 4rem;
        }
    }

    .blueSquiggles {
        top: 28%;
    }
    
    .pinkSquiggle {
        left: 3%;
        top: 123%;
        transform: rotate(70deg);
    }

    .tinyBlueTriangle {
        display: none;
    }

    .triangleContainer {
        top: -37%;
    }

    .blueSquiggles2{
        top: -25%
    }

    .largeHeading {
        font-size:6rem;
    }

    .smallHeading {
        font-size: 1.8rem;
    }

    .triangle2Container {
        top:-57%;
    }

    .skillItem {
        margin:10px;
    }

    .skillFlex {
        .largeHeading {
            font-size: 5rem;
        }
    }

    .project {
        align-items: center;
        .projectMockup {
            width:80%
        }
        .projectText {
            width:100%;
            h4 {
                font-size:2rem;
            }
            p {
                font-size: 1.6rem
            }
            li {
                padding:5px;
                
            }
        }
        .projectLinks {
            a {
                padding: 10px 15px;
            }
        }
        
    }

    .bigPinkCircle {
        width: 38%;
        left: -11%;
    }

    .blueSquigglesProject {
        top: 31%;
        left: 0;
    }

    .triangle4Container {
        width: 51%;
        top: -80%;
        .pinkCircleContact {
            left: 34%;
        }
    }

    .contact {
        ul {
            a{
                margin: 0 20px;
            }
        }
    }

    .emailAddress {
        margin: 80px 0;
        flex-direction: column;
        p {
            font-size: 1.8rem;
            margin: 0;
        }
    }

    .tinyPinkTriangleContact {
        right: 0;
    }

    .greenArrowContact {
        top: 98%;
    }

    .pinkSquiggleContact, .bigGreenCircleContact {
        display:none;
    }
}