html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  overflow-x: hidden;
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.wrapper {
  max-width: 1400px;
  width: 90%;
  margin: 0 auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
}

h1 {
  font-size: 9rem;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: white;
  margin: 0;
  line-height: 0.8;
  letter-spacing: 1.4px;
}

header h2 {
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: #fe6192;
}

.smallHeading {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  font-weight: 400;
  text-transform: lowercase;
}

.smallHeading::before {
  content: '';
  display: inline-block;
  border-left: 2px solid black;
  margin: 0 20px 0 100px;
  height: 60px;
}

.largeHeading {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 8rem;
  letter-spacing: 1.5px;
}

.profileText p:first-of-type {
  color: #fe6192;
  font-size: 2rem;
  line-height: 1.6;
}

.profileText p {
  font-size: 1.6rem;
}

.profileText ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 5rem;
  color: #443a8b;
  margin-top: 15px;
}

.profileText a:hover {
  color: #fe6192;
}

.skillIcon {
  font-size: 8rem;
  color: #443a8b;
}

.skillIcon img {
  width: 80px;
}

.skillText {
  color: #fe6192;
  font-weight: 500;
}

.project h4 {
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 10px;
}

.project ul {
  font-size: 5rem;
  color: #443a8b;
}

.project ul img {
  width: 50px;
}

.project ul .firebase {
  width: 40px;
}

header {
  background-color: #443a8b;
  min-height: 50vh;
  margin-bottom: 300px;
}

header span {
  display: block;
}

.headerFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70vh;
}

header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-transform: skewY(-7deg);
          transform: skewY(-7deg);
  background: #443a8b;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  z-index: -1;
}

.logo {
  width: 100px;
  position: absolute;
  top: 15px;
  left: 15px;
}

.headerText {
  position: relative;
}

.backgroundShapes {
  position: absolute;
}

.blueSquiggles {
  top: -90%;
  left: -45%;
}

.pinkSquiggle {
  top: 115%;
  left: -50%;
}

.greenArrow {
  top: 90%;
  right: -35%;
}

.tinyBlueTriangle {
  top: 190%;
}

.greenCircle {
  top: -150%;
  right: 30%;
}

.tinyPinkCircle {
  top: 290%;
  right: 30%;
}

.hamburger {
  display: block;
  position: absolute;
  top: 50px;
  right: 50px;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}

.hamburger a {
  font-size: 4rem;
  color: #fe6192;
  font-family: "Montserrat", sans-serif;
  text-transform: lowercase;
  text-align: right;
}

.hamburger a:hover {
  -webkit-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
  color: #50efcb;
}

.hamburger li {
  padding: 20px 0;
}

.burgerInput {
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  top: -10px;
  right: 0px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

.burgerInput:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(0px, 0px);
          transform: rotate(45deg) translate(0px, 0px);
  background: #fe6192;
}

.burgerInput:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

.burgerInput:checked ~ span:nth-last-child(2) {
  opacity: 1;
  -webkit-transform: rotate(-45deg) translate(0px, -2px);
          transform: rotate(-45deg) translate(0px, -2px);
}

.burgerInput:checked ~ .hamburgerMenu {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  opacity: 1;
}

.hamburger span {
  display: block;
  background: #fe6192;
  height: 4px;
  width: 45px;
  margin-bottom: 10px;
  position: relative;
  right: -75;
  z-index: 1;
  -webkit-transform-origin: 4px 0px;
          transform-origin: 4px 0px;
  -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.hamburger span:first-child {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

.hamburger span:last-child {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

.hamburgerMenu {
  position: absolute;
  width: 500px;
  margin: -100px 0 0 0;
  right: -50px;
  padding: 50px;
  padding-top: 125px;
  height: 50vh;
  background: white;
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transform: translate(100%, 0);
          transform: translate(100%, 0);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.hamburgerMenu::after {
  content: "";
  position: absolute;
  top: 100px;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-transform: skewY(-7deg);
          transform: skewY(-7deg);
  background: white;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  z-index: -1;
}

.aboutMe {
  background-color: white;
}

.aboutMe::before {
  content: "";
  position: absolute;
  top: auto;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-transform: skewY(-7deg);
          transform: skewY(-7deg);
  background: white;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  z-index: -1;
}

.sectionHeading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 300px;
}

.aboutFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profileContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
  margin-bottom: -200px;
}

.profileContainer .profilePhoto {
  max-width: 400px;
  margin-right: 50px;
}

.profileContainer .profilePhoto img {
  -webkit-box-shadow: 26px 32px 2px 0px lightgray;
          box-shadow: 26px 32px 2px 0px lightgray;
}

.profileContainer .profileText {
  width: 50%;
}

.profileContainer .profileText p {
  margin-bottom: 10px;
}

.skills::before {
  content: "";
  position: absolute;
  top: auto;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-transform: skewY(7deg);
          transform: skewY(7deg);
  background: #f7f7f7;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  z-index: -1;
}

.skillFlex .sectionHeading {
  padding-top: 200px;
}

.skillList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 70%;
  padding: 0;
  margin: 0 auto;
  position: relative;
  margin-top: 100px;
}

.skillItem {
  position: relative;
  width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 40px 40px 0 40px;
  text-align: center;
  -webkit-box-shadow: -2px 9px 25px #d3d3d3;
          box-shadow: -2px 9px 25px #d3d3d3;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  padding: 5px 15px;
}

.skillItem:hover {
  -webkit-box-shadow: 2px 2px 15px lightgrey;
          box-shadow: 2px 2px 15px lightgrey;
}

.skillItem:hover .skillText {
  opacity: 1;
}

.skillItem .skillText {
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #f7f7f7;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.projectFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 300px;
}

.projectFlex .sectionHeading {
  padding-top: 200px;
  margin-bottom: 200px;
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px;
}

.project ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.project ul li {
  padding: 10px;
}

.project .projectText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
  padding: 20px;
}

.project .projectText p {
  margin-bottom: 10px;
}

.projectTwo .projectText, .projectFour .projectText {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: right;
  margin-right: 20px;
}

.contact {
  background-color: #443a8b;
  color: white;
}

.contact::before {
  content: "";
  position: absolute;
  top: auto;
  left: 0;
  height: 80%;
  width: 100%;
  -webkit-transform: skewY(-7deg);
          transform: skewY(-7deg);
  background: #443a8b;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  z-index: -1;
}

.contactFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #443a8b;
}

.contactFlex .sectionHeading {
  margin-top: 100px;
}

.contactFlex .sectionHeading .smallHeading::before {
  border-left: 2px solid white;
}

.contactFlex p {
  font-size: 3rem;
  text-transform: lowercase;
  font-weight: 500;
  margin: 50px 0;
}

.contact ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 5rem;
}

.contact ul a {
  color: #fe6192;
  margin: 0 50px;
}

.contact ul a:hover {
  color: #50efcb;
}

form {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

form input, form textarea {
  background: transparent;
  color: white;
  border: none;
  border-bottom: 2px solid white;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  width: 550px;
  margin: 20px 0;
  padding: 10px 5px;
}

form input::-webkit-input-placeholder, form textarea::-webkit-input-placeholder {
  font-family: "Montserrat", sans-serif;
  color: white;
  opacity: 1;
  font-weight: 400;
}

form input:-ms-input-placeholder, form textarea:-ms-input-placeholder {
  font-family: "Montserrat", sans-serif;
  color: white;
  opacity: 1;
  font-weight: 400;
}

form input::-ms-input-placeholder, form textarea::-ms-input-placeholder {
  font-family: "Montserrat", sans-serif;
  color: white;
  opacity: 1;
  font-weight: 400;
}

form input::placeholder, form textarea::placeholder {
  font-family: "Montserrat", sans-serif;
  color: white;
  opacity: 1;
  font-weight: 400;
}

form input:focus, form textarea:focus {
  outline: 1px solid #fe6192;
  background: #5649af;
}

form label {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 25px;
}

form textarea {
  border-top: 2px solid white;
  height: 200px;
  resize: none;
}

button {
  color: #fe6192;
  font-weight: 700;
  border: 2px solid #fe6192;
  background-color: transparent;
  text-transform: uppercase;
  padding: 10px 70px;
  margin-top: 30px;
}

footer {
  background-color: #443a8b;
  color: white;
  text-align: center;
  padding-top: 150px;
  padding-bottom: 50px;
  letter-spacing: 1.4px;
}
